<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and View PDFs and Links</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>


{% macro tutorial_card(title, url, description, type, identifier) -%}
    <div>
        <a class="text-decoration-none" href="{{ url }}" style="text-decoration: none;">
        <div class="card card-small">
            <div class="card-body">
                {% if title %}<h4 class="card-title">{{ title }}</h4>{% endif %}
                <p class="card-text">{{ description }}</p>
            </div>
        </div>
        </a>
        <button  
            onclick="event.stopPropagation(); window.location.href='/delete/{{ type }}/{{ identifier }}';" 
            class="button">
            Delete
        </button>
    </div>
{%- endmacro %}


{% block content %}
<div>
<div class="jumbotron">
    <div class="container">
        <h1>Tutorials</h1>
    </div>
</div>

<h1>Upload PDF </h1>
<form method="post" enctype="multipart/form-data" action="/upload-pdf">
    <input type="file" name="file" required>
    <textarea name="pdf_description" placeholder="Enter a description for the PDF"></textarea>
    <input type="submit" value="Upload">
</form>


<h1>Submit a Link</h1>
<form method="post" action="/submit-link">
    <input type="text" name="link" required placeholder="Enter the link">
    <textarea name="link_description" placeholder="Enter a description for the link"></textarea>
    <input type="submit" value="Submit">
</form>
</div>


<h2>Uploaded PDFs</h2>
    <div class="">
        <ul class="card-list">
            {% for file in files %}
                {{ tutorial_card(file.name, file.url, file.description, "pdf", file.name) }}
            {% endfor %}
        </ul>
    </div>

<h2>Submitted Links</h2>
    <div class="link-section">
        <ul class="card-list">
            {% for link in links %}
                {{ tutorial_card(link.link, link.link, link.description, "link", loop.index0) }}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
